@import '~bootstrap/dist/css/bootstrap.min.css';

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

table {
    height: 20px;
    width: 100%;
}

#popupId {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#popupId td,
#popupId th {
    border: 1px solid #ddd;
    padding: 4px;
}

#popupId tr:nth-child(even) {
    background-color: #f2f2f2;
}

#popupId tr:hover {
    background-color: #ddd;
}

#popupId th {
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}